* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(223, 255, 228);
    overflow-x: hidden;
}

::selection {
    background-color: rgb(0, 123, 18);
    color: rgb(187, 255, 197);
}

/* ================== Navigation section================ */

header {
    position: fixed;
    width: 100vw;
    height: 45px;
    display: flex;
    background-color: rgb(187, 255, 197);
    border-radius: none;
    z-index: 50;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5);
}



.logo {
    margin: 2px 20px 0px 50px;
    text-align: center;
    color: rgb(0, 123, 18);
    font-family: 'Zen Dots', cursive;
    cursor: pointer;
    width: 15vw;
    font-weight: 700;

}

.logo img {
    width: 50px;
    height: 20px;
    border-radius: 6px;
}

.logo p {
    font-size: 12px;
}

#navbar {
    width: 85vw;
}

#navbar ul {
    display: flex;
    list-style: none;
    margin-top: 11px;

}

#navbar ul :last-child {
    margin-left: 30px;
}

#navbar ul li input {
    font-weight: bolder;
    padding: 3px;
    border-radius: 7px;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(223, 255, 228);
    color: rgb(0, 123, 18);
}

#navbar ul li input:hover {
    background-color: #FFFF;
}

#navbar a {
    padding: 0px 50px;
    color: rgb(0, 123, 18);
    font-size: 20px;
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

#navbar a:hover {
    color: black;


}

.subsearch {
    width: 30px;
    height: 30px;
    border-radius: 7px;
    background-color: rgb(223, 255, 228);
    color: rgb(0, 123, 18);
    border: 3px solid rgb(0, 123, 18);
    font-weight: 700;
    font-size: 700;
}

/* =================== article or #main section =====================*/
#main {
    z-index: -50;
    width: 100vw;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 255, 228);
    color: rgb(0, 123, 18);
    padding-top: 100px;
}

B {
    font-weight: 900;
}

#main h2 {
    margin: 10px;
}

#main h1 {
    font-weight: 900;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20PX;
}

#main p {
    font-family: 'Nunito', sans-serif;
    margin: 30px 150px 20px 150px;
    width: 50vw;
    font-size: 20px;
    font-weight: 500;
}

/* ==================== offers container ==================== */
.offers {
    text-align: center;
    width: 40vw;
    height: 80px;
    background-color: rgb(187, 255, 197);
    border-radius: 20px;
    padding: 20px;
}

.offers p {
    text-align: center;
}

/* ======================= services blocks ========================== */

.services {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    padding-top: 50PX;
    justify-content: center;
}

.services .item {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 20px;
    padding: 30px;
    text-align: center;
    border: none;
    background-color: rgb(187, 255, 197);
    color: rgb(0, 123, 18);
    border-radius: 20px;
    width: auto;
    height: 250PX;
    width: 350PX;
    box-shadow: 4px 5px 14px -3px rgba(41, 41, 41, 0.5);
}

.services .item:hover {
    border: 1px solid rgb(0, 0, 0);
    color: black;
}

.sergrid {
    display: flex;
}

.item p {
    margin-top: 20px;
    height: 20vh;
    width: auto;
    text-align: center;
}

/* ===================== clients ==================== */
#clients {

    font-size: 23px;
    text-align: center;
    font-family: sans-serif;
    color: rgb(0, 123, 18);
    /* background-image: linear-gradient(to left, rgb(187, 255, 197) 10%,rgb(0, 123, 18) ; */
    padding-top: 72px;
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

#clients h2 {
    margin-bottom: 30px;
}


.ourclients {
    color: rgb(0, 123, 18);
    display: flex;
    margin-top: 35px;
    justify-content: space-around;
    font-size: 20px;
}

.ourclients h3 {
    margin-top: 40px 0px 40px 0px;
}

/* ================ footer section ========================== */

#footer {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(187, 255, 197);
    color: rgb(0, 123, 18);
}


#footer p {
    margin: 50px 200px 50px 200px;
    padding: 0px 100px;
    text-align: center;
}



#footer .bttn:hover {
    border: 2px solid rgb(27, 27, 27);
    background-color: rgb(196, 196, 196);
    color: black;
    font-weight: 900;
}

/* ==================== footer form container ======================== */

.formcontainer {
    display: flex;
}

.frm {
    width: 100%;
    text-align: center;

}

h3 {
    margin-bottom: 30px;
}

.inp {
    height: 27px;
    width: 400px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid rgb(214, 214, 214);
}

#submit {
    font-weight: 700;
    background-color: rgb(223, 255, 228);

}

#submit:hover {
    color: gray;
}


#description {
    height: 100px;



}

/* ========================  |  the end  | =============================== */